@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css");

html {
  min-width: 800px;
}

body {
  margin: 60px 100px;
  background-color: rgb(23, 23, 23);
  color: white;
  font-family: "SUIT Variable", sans-serif;
}
