@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  min-width: 1200px;
  min-height: 600px;
}

body {
  margin: 0;
  padding: 5vh 8vh;
  background-color: rgb(23, 23, 23);
  color: white;
  font-family: "DungGeunMo", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
